<style>


 body {
  background-image: url("torg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {
  font-family: Palatino;
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
  font-size:40px;
  text-attachment:fixed;
  color:black;
}


h2 {
  font-family: Palatino;
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
  font-size:40px;
  text-attachment:fixed;
  color:black;
}

h3 {
  font-family: Palatino;
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
  font-size:40px;
  text-attachment:fixed;
  color:black;
}


</style>
