<h1>
Education
</h1>
<p> Virginia Polytechnic Institute and State University </P>


<li>
Bachelor of Arts: Double Major Literature and Language & Professional and Technical Writing
</li>
<li>
Cumulative GPA 3.49
</li>
<li>
Dean's List- Fall 2015, Fall 2016, Fall 2017, Spring 2017, Spring 2018
</li>
<li> The National Society of Collegiate Scholars </li>


<h2>
Experience
</h2>
<p>
Red Hat, Hybrid Sales Intern on the Public Sector Team</li>
</p>
<li>
Participated in monthly call blitzes centered around Red Hat Hyperconverged Infrastructure and Open Shift Container Platform</li>
<li> Tasked with managing Mid-Market representatives to update their weekly MJ in Salesforce</li>
 <li>Worked in Outreach to raise awareness/enlighten customers of upcoming Emerging Technology Trade Shows</li>
 <li>Conducted research for Mid-Market SLED/FED on both Navigator and Govwin</li>
 <li>Shadowed the Emerging Technology team on calls focused in both cloud and middleware products</li>

<p> Collegiate Times </p>
<p> Staff Writer: Lifestyles </p>
<li>
Constructed articles about happenings at and surrounding Virginia Tech </li>
<li>
Attended weekly meetings to ensure efficiency/deadlines were met; contributed one to two articles a week</li>
<li> Published Writer </li>

<p> The Black Sheep Online </p>
<p>Staff Writer/Social Media</p>
<li> Spent 2-4 hrs. writing per week; contributed satirical pieces that reached varied demographics at VT; manipulated social media </li>


<h3>
Philantrhopy
</h3>
<p> The Andrew McDonough B+ Foundation</P>
<P> President/Vice President </p>
<li>
Oversee the correspondence and club meetings of 100+ memebers; plus campus outreach</li>
<li>Attended the B+ Foundation Summer 18 Leadership Conference in Wilmington, DE to network with B+ leaders at others schools, gain crucial fundraising/marketing techniques, meet B+ heroes and families </li>
<li> The VT chapter of the B+ Foundation participated in raising 26k in a day in order to honor our namesake Andrew McDonough who passed away at age 14 due to childhood cancer </li>
<li> Our chapter raised $1,881 in 24 hours on Sept. 3rd 2018 Andrew's birthday </li>
<li> I individually raised $1,356 in 24 hours to contribute to that number by sending donation emails and manipulating social media channels </li>
<li>Led a self-made social media campaign through Instagram and singlehandedly raised $858 in just 24 hours </li>
<li>I will oversee the 1st annual Virginia Tech Silent Disco-Thon with the hopes of raising our goal of $10,000</li>


<p> AmeriCorps Smart Beginnings, Child Literacy </p>
<p> Volunteer</p>
<li> Read to Preschool students once per week for an hour to foster love of reading </li>
<li> Completed training as a Smart Beginnings NRV Secure Standard Volunteer </li>
<li> Engaged with students who are ESL (English is a second language); communicated effectively with students </li>

<p> Delta Gamma Fraternity </p>
<p> Director of Golden Anchor/Member </p>
<li> Developed and fostered strong relationships/planned events with local retirement homes </li>
<li> Enhanced member education by teaching values of Delta Gamma specifically those of the Delta Rho chapter of VT </li>




<style>


 body {
  background-image: url("torg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {
  font-family: Palatino;
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
  font-size:40px;
  text-attachment:fixed;
  color:black;
}


h2 {
  font-family: Palatino;
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
  font-size:40px;
  text-attachment:fixed;
  color:black;
}

h3 {
  font-family: Palatino;
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
  font-size:40px;
  text-attachment:fixed;
  color:black;
}


</style>
