<style>

 body {
  background-image: url("torg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {
  font-family: Palatino;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 500px;
  font-size: 75px;
  text-attachment:fixed;
  color:white;
}
</style>

<h1>
